<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>3d shacks repo</title>
        <style>
            [v-cloak] {
                display: none !important;
            }
        </style>
        <link rel="stylesheet" href="./css/main.css" />
    </head>
    <body>
        <main id="app">
            <h1>browse 3d shacks</h1>

            <table>
                <thead>
                    <tr>
                        <th>user</th>
                        <th>repo</th>
                        <th>latest v</th>
                        <th>date</th>
                        <th>dl</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="shack in shacks" v-cloak>
                        <td><a :href="shack.userProfile" v-text="shack.user"></a></td>
                        <td><a :href="shack.repo" v-text="shack.name"></a></td>
                        <td v-text="shack.version"></td>
                        <td v-text="shack.date"></td>
                        <td><a :href="shack.download" v-text="shack.version"></a></td>
                    </tr>
                </tbody>
            </table>

            <input type="text" name="user" @blur="checkUser" v-model="user" :class="{'good': userExists === 1}">
            <small v-if="userExists === -1" v-cloak>usr not found</small>
            <input type="text" name="repo" @blur="checkRepo" v-model="repo" :class="{'good': repoExists === 1}">
            <small v-if="repoExists === -1" v-cloak>repo not found</small>
            <input type="button" name="get" value="search" @click="checkRelease">
        </main>

        <script src="./js/vendor.js" charset="utf-8"></script>
        <script src="./js/script.js" charset="utf-8"></script>
    </body>
</html>
