<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>3dshacksbrowser</title>
        <style>
            [v-cloak] {
                display: none !important;
            }
        </style>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
        <link rel="stylesheet" href="./css/main.css" />
        <link rel="shortcut icon" href="./img/favicon.png" />
    </head>
    <body>
        <main id="app">
            <h1>Browse 3DS Hacks</h1>

            <input type="text" name="user" @blur="checkUser" v-model="user" :class="{'good': userExists === 1, 'bad': userExists === -1}">
            <input type="text" name="repo" @blur="checkRepo" v-model="repo" :class="{'good': repoExists === 1, 'bad': repoExists === -1}">
            <input type="button" name="get" value="Add" @click="checkRelease">

            <table>
                <thead>
                    <tr>
                        <th @click="sortBy('repo')">Repository</th>
                        <th @click="sortBy('user')">User</th>
                        <th data-date-format="dd.mm.yyyy" @click="sortBy('date')">Published</th>
                        <th>Download</th>
                        <th>QR Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="shack in shacks" v-cloak>
                        <td><a :href="shack.repoPage" v-text="shack.repo"></a></td>
                        <td><a :href="shack.userPage" v-text="shack.user"></a></td>
                        <td>{{ shack.date | date }}</td>
                        <td><a :href="shack.downloadUrl" v-text="shack.download"></a></td>
                        <td>{{ shack.qr }}</td>
                    </tr>
                </tbody>
            </table>
        </main>

        <script src="./js/vendor.js" charset="utf-8"></script>
        <script src="./js/script.js" charset="utf-8"></script>
    </body>
</html>
