$blue: #333345;

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $blue;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 90%;
    max-width: 900px;
    min-width: 300px;
    margin: 50px auto;
}

footer {
    border-top: 1px solid lighten($blue, 50%);
    width: 75%;
    max-width: 700px;
    min-width: 250px;
    margin: 50px auto;
    padding: 25px;
    font-size: .8rem;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;

    th,
    td {
        padding: 15px 20px;
    }

    th {
        text-align: left;
        color: lighten($blue, 10%);
        font-size: 1.1rem;
        position: relative;

        &[data-date-format] {
            &::after {
                content: attr(data-date-format);
                display: inline-block;
                position: absolute;
                left: 20px;
                font-size: .6rem;
                font-weight: normal;
                color: lighten($blue, 30%);
                opacity: 0;
                transition: .25s opacity ease-in-out, .25s transform ease-in-out;
            }

            &:hover {
                &::after {
                    opacity: 1;
                    transform: translateY(-20px);
                }
            }
        }

        &[data-sort-rows] {
            cursor: pointer;
        }
    }

    thead {
        border-bottom: 2px solid lighten($blue, 30%);
    }

    tbody {
        tr:nth-child(odd) {
            background-color: lighten($blue, 72%);
        }
    }
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    color: $blue;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    box-shadow: 0 0 3px transparent;
    transition: .25s box-shadow ease-in-out;

    &:focus {
        outline: none;
        box-shadow: 0 0 3px lighten($blue, 25%);
    }

    &.good {
        box-shadow: 0 0 3px green;
    }

    &.bad {
        box-shadow: 0 0 3px red;
    }

    &[type=text] {
        border: 1px solid lighten($blue, 50%);
    }

    &[type=button] {
        border: 1px solid darken($blue, 50%);
        background-color: $blue;
        color: white;
        cursor: pointer;
    }
}
